#noteRegist > input , #titleRegist > input {
	width : 90%;
	margin-right: 10px;
}
#titleRegist > input:focus {
	outline: #aaa;
	border: 1px solid #aaa;
}

#noteRegist > input {
	visibility: hidden;
}

#todaydiary , #noteRegist , #titleRegist, #note {
	margin-top : 40px;
	margin-left: 30px;
	margin-bottom: 10px;
}

#desc {
	margin-left: 20px;
	font-size: 0.8em;
}	
#noteRegist > button , #titleRegist > button {
	border: 1px solid #062859;
	border-radius: 8px;
	width: 50px; height: 25px;
	color: #062859;
	font-size: 13px;
}


#noteRegist > button:hover , #titleRegist > button:hover {
	cursor: pointer;
	
}
#noteRegist > button:focus , #titleRegist > button:focus {
	outline: none;
}
#noteRegist > button:active , #titleRegist > button:active {
	background-color: rgb(6,40,89,0.2)
}
.mainMenu > p { 
	font-size: 25px;
    padding: 20px;
    margin: 10px 32px; 
}