input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

#title { font-size: 25px;
    padding: 20px;
    margin: 10px 32px; }
    
table {
	width: 80%;
	margin: 0px 75px;
	padding: 10px;
}
tr,td { padding: 0px 5px; }

/* 변경    */


.footMenu {
	 width: 100%; 
	 position:absolute; 
	 bottom: 20px; 
	 margin: 0px 10px; 
}
	 
.search-container {
	position:relative;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}	 

input#search-bar {
  width: 80%;
  margin-left : 60px;
  height: 45px;
  padding: 0 20px;
  border: 1px solid #D0CFCE;
  outline: none;
}

.search-icon {
  position: relative;
  height: 75px;
  right: 65px;
}

.btn {
	border: 1px solid #062859;
	border-radius: 8px;
	width: 50px; height: 25px;
	color: #062859;
	font-size: 13px;
}
.btn:hover { cursor: pointer; }
.btn:focus { outline: none; }
.btn:active { background-color: rgb(6,40,89,0.2) }

#exerciseMinute {
	border: 1px solid silver;
	width: 60px;
	text-align: right;
}
.changeMinute {
	border: 1px solid silver;
	width: 50px;
	text-align: right;
}

#insertBtn ,#cancelBtn , #updateBtn {
	line-height: 25px;
	padding: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.changeTime {
	border: 1px solid silver;
	width: 50px;
	text-align: right;
}