.food_record {
	width: 90%;
}
table {
	margin: 20px auto;
	paddFoodBoxing: 10px;
}


.select {
	margin-left:30px;
	border: 1px dashed #133668;
	width: 600px;
	height: auto;
	border-radius: 20px;
		display: inline-block;
		paddFoodBoxing : 20px 0;
}


.result_pic {
	margin: 8px 8px;
}
.result_content {
	width: 185px;
	height: auto;
	text-align: center;
	paddFoodBoxing: 4px 4px;
	margin: 7px 7px;
}

.buts:hover { cursor: pointer; }
.buts:focus { outline: none; }
.buts:active { background-color: rgba(0,50,200,0.1) }



.result_img {
	border-radius: 20px;
}

a, a:hover {
text-decoration: none;
color : black;
}
#title { font-size: 25px;
    paddFoodBoxing: 20px;
    margin: 10px 32px; 
}

a.addFood {
	display:inline-block;
	margin-left: 50px;
	height: 30px;
	line-height: 30px;
}
a > img {
	margin-right: 10px;
}
<!-- -->

.inputBox {
	width: 75%;
}
.hiddenBox {
	width: 65%;
	visibility: hidden;
}

.mealType {
	color: #062859;
	font-weight: bold;
	font-size: large;
	text-shadow: 1px 1px 1px #c6d5f2;
}

.searchFood {
	margin-left: 30px;
	width: 65%;
	border: 1px solid #aaa;
}

.buts { 
 	border: 1px solid #00AFFF; 
 	border-radius: 8px; 
 	width: 50px; height: 25px; 
 	color: #00AFFF; 
 	font-size: 13px; 
 	margin-left: 10px;
}



.search_list {
	width:75%;
}

.searchedFood {
	position: relative;
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0px;
	width: 100%;
	height : 35px;
}
input[id^=result] {
	margin: 10px;
}

.keyword {
	margin: 0 10px;
	line-height: 35px;
}
.gram {
	position: absolute;
	width : 15%;
	text-align: right;
	right: 0;
	margin: 5px;
}

.result {
	margin-left:30px;
	margin-top: 3px;
	border: 1px solid #133668;
	width: 75%;
	height: auto;
	border-radius: 20px;
	display: inline-block;
}

.addFoodBox {
	margin-left:30px;
	margin-top: 3px;
	border: 1px dashed #133668;
	width: 75%;
	height: 30px;
	border-radius: 20px;
	display: inline-block;
}

.meal {
	position: relative;
	width: 100%;
	height: auto;
	margin: 50px;
	box-sizing: border-box;
}

.result_area {
	float: left;
	margin: 10px 10px;
	width: 30%;
	overflow: hidden;
}
