/*  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600"); */
/*  @import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/NanumSquare.css'); */
 * { 
 	box-sizing:content-box;
 	outline: none; 
 	font-style: 'NanumSquare', 'Sans-serif';
 } 

html {
 	font-family: "source sans pro", sans-serif;
/*  	font-style: normal; */
/*  	font-family: 'NanumSquare', 'Sans-serif'; */
	font-weight: 600;
	background-color: #8dc6cd;
	color: #6b7b8a;
}
.signup-box {
	height: 80%;
	width: 55%;
	padding: 30px;
	background-color: #fff;
	margin: auto;
	border-radius: 5px;
/* 	padding-left: 10px; */
}
.navbar-brand {font-style: normal;}


h1 {
	font-size: 30px;
/* 	font-weight: 400; */
	text-align: center;
	font-weight: bolder;
	font-style: normal;
}
p {
	font-size: 20px;
	font-weight: bolder;
}
p.input{
/*   	padding-top: 10px;   */
/*  	padding-bottom: 10px;  */
	text-transform: uppercase;
}

span.input1{
	font-size: 21px;
/* 	padding-left: 20px; */
/* 	margin-left: 10%; */
}
span.input12{
	font-size: 21px;
/* 	padding-left: 20px; */
	margin-left: 7%;
}
input.place2  {
/* 	padding-top:20px; */
	height: 35px;
	width: 16%;
	padding-left: 25px;
	border: solid #c6e2e6 2px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
	color: #6b7b8a;
	background-color: #fbfbfb;
	margin-bottom: 10px;
	margin-left: 4%;
}
input.place  {
/* 	padding-top:20px; */
	height: 35px;
	width: 70%;
	padding-left: 25px;
	border: solid #c6e2e6 2px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
	color: #6b7b8a;
	background-color: #fbfbfb;
}
input.place1  {
/* 	padding-top:20px; */
	height: 35px;
	width: 16%;
	padding-left: 25px;
	border: solid #c6e2e6 2px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
	color: #6b7b8a;
	background-color: #fbfbfb;
	margin-bottom: 10px;
}

input.place:focus {
	background-color: #edf8f7;
}
.terms {
	display: inline-table;
	text-align: center;
	height: 30px;
}
.terms span {
	font-weight: 400;
	color: #98a3ad;
}
a {
	color: #8dc6cd;
	font-weight: 600;
	text-decoration: none;
	font-style: normal;
}
.btn {
	height: 30px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #ec4949;
	color: #fff;
	font-size: 20px;
	font-style: bold;
	text-transform: uppercase;
	margin-left: 75%;
}

.btn-deletuser {
	width:6%;
	height: 25px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	background-color: #FF6A89;
	color: white;
	font-size: 20px;
	font-style: bold;
	font-weight:bolder;
	text-transform: uppercase;
	margin-left: 85%;
}
.btn-deletuser:hover {
	cursor: pointer;
}

.btn-update {
	padding-top: 10px;
	width:30px;
	height: 20px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	background-color: #FF6A89;
	color: white;
	font-size: 18px;
	font-style: bold;
	font-weight:bolder;
	text-transform: uppercase;
}
.btn-update:hover {
	cursor: pointer;
}

/*  footer {  */
/*  	display: block;  */
/*  	margin-top: 50px;  */
/*  	margin-left: 10%;  */
/*  }   */
input.check {
	width: 20px;
	height: 20px;
	margin: 0 15px 0 0;
	padding: 0;
	color: #e3e3e3;
}

.input-group {
	width: 100%
}
.col-third > .birth {	
	padding-right: 0px;
	border: solid #c6e2e6 2px;
	border-radius: 5px;
	width: 80%;
	}
	
#userInfoNameSpan{
	font-style: normal;
	font-size: 30px;
	font-weight: bolder;
 	margin-left: 20%;
}
	
